
    <nav>
        <div class="User">
            <span><a href="@Url.Action("LogOut", "Login")">LogOut</a></span>
        </div>
    </nav>
    <nav>
        <div class="User">
            <span>Hi, @Session["userName"].ToString()</span>
        </div>
    </nav>




